[submodule "BlindAid.Data"]
	path = Projects/BlindAid.Data
	url = https://github.com/patrobic/BlindAid.Data
[submodule "BlindAid.Glove"]
	path = BlindAid.Glove
	url = https://github.com/patrobic/BlindAid.Glove.git
	branch = main
